* text=auto eol=lf

# Keep the Packagist dist tarball lean.
/.github           export-ignore
/.gitattributes    export-ignore
/.gitignore        export-ignore
/tests             export-ignore
/phpunit.xml.dist  export-ignore
/phpunit.xml       export-ignore
/phpstan.neon.dist export-ignore
/phpstan.neon      export-ignore
/CHANGELOG.md      export-ignore
